body {
  margin: 0;
  font-family: serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: linear-gradient(to right, yellow, pink);
}

.container {
  display: flex;
  justify-content: flex-end;
  height: 80vh;
  padding: 20px;
}
.container > * {
  padding: 10px;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  color: green;
  text-shadow: 2px 2px 5px red;
}

p {
  font-size: 24px;
  color: blue;
  background-color: yellow;
  padding: 10px;
  border: 2px solid pink;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 0 10px purple;
}

.card-image img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

